spring:
  mvc:
    time-zone: Africa/Nairobi
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB
  application:
    name: spring-security
  main: 
      allow-circular-references: true
  mail:
    host: smtp.gmail.com
    password: flskuymfirtxupqa
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    protocol: smtp
    tls: true
    username: cvtautokenyampesa@gmail.com


    

    
  jpa:
    # Provide database platform that is being used
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      # New database is created when application starts and destroyed when application is stopped
      ddl-auto: none
    # Show sql when spring data jpa performs query
    show-sql: true
    properties:
      hibernate:
        # Format queries
        format_sql: true

#  datasource:
#    driverClassName: com.mysql.jdbc.Driver
#    url: jdbc:mysql://localhost:3306/cvt
#    username: root
#    password: Karimax@2023


  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/staging_cvt_database
    username: forge
    password: MuXaMinPLyX0eCYGJKKk

 
token:
  signing:
    key: 413F4428472B4B6250655368566D5970337336763979244226452948404D6351
    
    


file:
  upload-dir: ./uploads
    
    
logging:
  level:
    root: DEBUG
    com.howtodoinjava: DEBUG
    org.hibernate: DEBUG
configs:
  asyncSuccessStatusCode: 1
  defaultCreatedBy: 1
  defaultModifiedBy: 1
  deleteSuccessStatusCode: 5
  duplicateEntryDesc: Duplicate Entry
  emailSubject: User Registration Email
  failureResultCode: 0
  failureStatusCode: 4
  failureStatusDesc: An error occurred while processing request
  failureStatusType: 4
  fromEmail: cvtautokenyampesa@gmail.com
  missingParamsStatusCode: 3
  newUserPasswordStatus: 3
  notFoundStatusDesc: The record was not found
  permissionDeniedStatusDesc: Permission Denied
  recordActive: 1
  sessionExpired: Session expired
  skipAuditLogArray: clients
  successStatusCode: 1
  successStatusDesc: Request processed successfully
  successStatusType: 1
  defaultImage: 1700909850708-file.png
#  serverImageUrl: http://192.168.1.106:8080/uploads/
  serverImageUrl: http://172.105.248.105:4000/uploads/
  counties: [{\"name\":\"Mombasa\",\"code\":1,\"capital\":\"MombasaCity\"},{\"name\":\"Kwale\",\"code\":2,\"capital\":\"Kwale\"},{\"name\":\"Kilifi\",\"code\":3,\"capital\":\"Kilifi\"},{\"name\":\"TanaRiver\",\"code\":4,\"capital\":\"Hola\"},{\"name\":\"Lamu\",\"code\":5,\"capital\":\"Lamu\"},{\"name\":\"Taita-Taveta\",\"code\":6,\"capital\":\"Voi\"},{\"name\":\"Garissa\",\"code\":7,\"capital\":\"Garissa\"},{\"name\":\"Wajir\",\"code\":8,\"capital\":\"Wajir\"},{\"name\":\"Mandera\",\"code\":9,\"capital\":\"Mandera\"},{\"name\":\"Marsabit\",\"code\":10,\"capital\":\"Marsabit\"},{\"name\":\"Isiolo\",\"code\":11,\"capital\":\"Isiolo\"},{\"name\":\"Meru\",\"code\":12,\"capital\":\"Meru\"},{\"name\":\"Tharaka-Nithi\",\"code\":13,\"capital\":\"Chuka\"},{\"name\":\"Embu\",\"code\":14,\"capital\":\"Embu\"},{\"name\":\"Kitui\",\"code\":15,\"capital\":\"Kitui\"},{\"name\":\"Machakos\",\"code\":16,\"capital\":\"Machakos\"},{\"name\":\"Makueni\",\"code\":17,\"capital\":\"Wote\"},{\"name\":\"Nyandarua\",\"code\":18,\"capital\":\"OlKalou\"},{\"name\":\"Nyeri\",\"code\":19,\"capital\":\"Nyeri\"},{\"name\":\"Kirinyaga\",\"code\":20,\"capital\":\"Kerugoya/Kutus\"},{\"name\":\"Murang'a\",\"code\":21,\"capital\":\"Murang'a\"},{\"name\":\"Kiambu\",\"code\":22,\"capital\":\"Kiambu\"},{\"name\":\"Turkana\",\"code\":23,\"capital\":\"Lodwar\"},{\"name\":\"WestPokot\",\"code\":24,\"capital\":\"Kapenguria\"},{\"name\":\"Samburu\",\"code\":25,\"capital\":\"Maralal\"},{\"name\":\"Trans-Nzoia\",\"code\":26,\"capital\":\"Kitale\"},{\"name\":\"UasinGishu\",\"code\":27,\"capital\":\"Eldoret\"},{\"name\":\"Elgeyo-Marakwet\",\"code\":28,\"capital\":\"Iten\"},{\"name\":\"Nandi\",\"code\":29,\"capital\":\"Kapsabet\"},{\"name\":\"Baringo\",\"code\":30,\"capital\":\"Kabarnet\"},{\"name\":\"Laikipia\",\"code\":31,\"capital\":\"Rumuruti\"},{\"name\":\"Nakuru\",\"code\":32,\"capital\":\"Nakuru\"},{\"name\":\"Narok\",\"code\":33,\"capital\":\"Narok\"},{\"name\":\"Kajiado\",\"code\":34},{\"name\":\"Kericho\",\"code\":35,\"capital\":\"Kericho\"},{\"name\":\"Bomet\",\"code\":36,\"capital\":\"Bomet\"},{\"name\":\"Kakamega\",\"code\":37,\"capital\":\"Kakamega\"},{\"name\":\"Vihiga\",\"code\":38,\"capital\":\"Vihiga\"},{\"name\":\"Bungoma\",\"code\":39,\"capital\":\"Bungoma\"},{\"name\":\"Busia\",\"code\":40,\"capital\":\"Busia\"},{\"name\":\"Siaya\",\"code\":41,\"capital\":\"Siaya\"},{\"name\":\"Kisumu\",\"code\":42,\"capital\":\"Kisumu\"},{\"name\":\"HomaBay\",\"code\":43,\"capital\":\"HomaBay\"},{\"name\":\"Migori\",\"code\":44,\"capital\":\"Migori\"},{\"name\":\"Kisii\",\"code\":45,\"capital\":\"Kisii\"},{\"name\":\"Nyamira\",\"code\":46,\"capital\":\"Nyamira\"},{\"name\":\"Nairobi\",\"code\":47,\"capital\":\"NairobiCity\"}]

    


server:
  tomcat:
    max-swallow-size: 30MB
